{{define "AffichageFormulaire"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/formulaire.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">

</head>
<body>
    {{template "header"}}
    <form action="/user/traitement" method="POST">
        <BR><BR><BR> 
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom">
        <BR><BR><BR>
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" id="prenom">
        <BR><BR><BR>
        <label for="date">Date de naissance</label>
        <input type="date" name="date" id="date">
        <BR><BR><BR>
        <label for="Sexe">Sexe</label>
        <select name="sexe" id="sexe" required>
            <option value="">-- Sélectionnez --</option>
            <option value="masculin">Masculin</option>
            <option value="feminin">Féminin</option>
            <option value="autre">Autre</option>
        </select>
        <BR><BR><BR><BR>
        <button type="submit">valider</button>
    </form>
</body>
</html>
{{end}}