{{define "FormulaireResultat"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/formulaire.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
</head>
<body>
    {{template "header"}}
    {{if .IsEmpty}}
    <p>Aucune donnée enregistré</p>
    {{else}}
    {{if eq .CheckValue false}}
    <p>Le(s) valeur(s) n'est(sont) pas valide(s)</p>
    {{else}}
    <p>Nom : {{.Nom}}</p>
    <p>Prénom : {{.Prenom}}</p>
    <p>Date de naissance {{.Date}}</p>
    <p>Sexe : {{.Sexe}}</p>
    {{end}}
    {{end}}
</body>
</html>
{{end}}